footer.site-footer {
  padding-top: 10px;
  margin-top: 30px;
  color: $footer-color;
  
  h2 {
    margin:0;
  }
  p.site-info {
    text-align: center;
    background-color: $site-info-bg-color;
    color:$site-info-color;
    padding: 10px 0;
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}