.navigation {
  @include clearfix;
  padding:10px;
  background-color: $nav-bg-color;
  
  h2 {
    text-align: left;
    margin:0;
    
    &.site-name {
      display: none;
      @include tablet {
        display: inline-block;
      }
    }
    &.nav-title {
      display: block;
      text-align: center;
      @include tablet {
        display: none;
      }
    }
  }
  nav {
    display: inline;
    margin-top: 10px;
    @include tablet {
      float: right;
    }
    a {
      color: $menu-anchor-color;
      font-size: $menu-anchor-font-size;
      text-decoration: none;
      display: block;
      margin-bottom: 20px;
      text-align: center;
      &:hover {
        color:$menu-anchor-hover-color;
      }
      
      @include tablet {
          display: inline;
          text-align: left;
      }
      @include desktop {
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
      }
    }
  }
}


.footer-navigation {
      @extend .navigation;
      .menu {
        float: left;
        a {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
}