div.services {
  h2 {
    font-size:map-get($heading-font-size, h2);
  }
}

.services-list {
      list-style: none;
      padding:0;
      li {
            text-align: center;
            h3 {
              margin-bottom: 20px;
              font-size:map-get($heading-font-size, h3);
            }
            p {
              color: $paragraph-service-color;
              font-size: $paragraph-services-font-size
            }
      }
}